<BOUCLE_film(FILMS){id_film=#ENV{id}}>
<div class="infos">
[(#SET{texte_objet,<:film:titre_film:/>})]
<div class="numero"><:titre_cadre_numero_objet{objet=#GET{texte_objet}}:/><p>#ID_FILM</p></div>

<div class='nb_elements'><!--nb_elements--></div>

	[(#VAL{redirect}
		|generer_url_action{type=film&id=#ID_FILM}
		|parametre_url{var_mode,calcul}
		|icone_horizontale{<:icone_voir_en_ligne:>,racine})]

	[(#AUTORISER{supprimer, film, #ID_FILM}|oui)
		<hr />
		[(#BOUTON_ACTION{
			[(#CHEMIN_IMAGE{film-del-24.png}|balise_img{<:film:supprimer_film:/>}|concat{' ',#VAL{<:film:supprimer_film:/>}|wrap{<b>}}|trim)],
			#URL_ACTION_AUTEUR{supprimer_film, #ID_FILM, #URL_ECRIRE{films}},
			icone s24 horizontale danger film-del-24, <:film:confirmer_supprimer_film:/>})]
	]

</div>
</BOUCLE_film>
