<BOUCLE_film(FILMS){id_film}>
[<div class="champ contenu_titre[ (#TITRE*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_titre_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{titre} titre">(#TITRE)</span>
</div>]

[<div class="champ contenu_duree[ (#DUREE*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_duree_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{duree} duree">(#DUREE)</span>
</div>]

[<div class="champ contenu_annee[ (#ANNEE*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_annee_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{annee} annee">(#ANNEE)</span>
</div>]

[<div class="champ contenu_genre[ (#GENRE*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_genre_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{genre} genre">(#GENRE)</span>
</div>]

[<div class="champ contenu_pays[ (#PAYS*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_pays_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{pays} pays">(#PAYS)</span>
</div>]

[<div class="champ contenu_vovf[ (#VOVF*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_vovf_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{vovf} vovf">(#VOVF)</span>
</div>]

[<div class="champ contenu_parlantmuet[ (#PARLANTMUET*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_parlantmuet_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{parlantmuet} parlantmuet">(#PARLANTMUET)</span>
</div>]

[<div class="champ contenu_couleurnb[ (#COULEURNB*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_couleurnb_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{couleurnb} couleurnb">(#COULEURNB)</span>
</div>]

[<div class="champ contenu_jeunepublic[ (#JEUNEPUBLIC*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_jeunepublic_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{jeunepublic} jeunepublic">(#JEUNEPUBLIC)</span>
</div>]

[<div class="champ contenu_age[ (#AGE*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_age_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{age} age">(#AGE)</span>
</div>]

[<div class="champ contenu_realisation[ (#REALISATION*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_realisation_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{realisation} realisation">(#REALISATION)</span>
</div>]

[<div class="champ contenu_distribution[ (#DISTRIBUTION*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_distribution_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{distribution} distribution">(#DISTRIBUTION)</span>
</div>]

[<div class="champ contenu_resume[ (#RESUME*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_resume_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{resume} resume">(#RESUME)</span>
</div>]

[<div class="champ contenu_critiques[ (#CRITIQUES*|strlen|?{'',vide})]">
	<div class="label"><:film:champ_critiques_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{critiques} critiques">(#CRITIQUES)</span>
</div>]

</BOUCLE_film>
