<div class='formulaire_spip formulaire_editer formulaire_#FORM formulaire_#FORM-#ENV{id_film,nouveau}'>
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	[(#ENV{editable})
	<form method="post" action="#ENV{action}"><div>
		#ACTION_FORMULAIRE
		<input type="hidden" name="id_film" value="#ENV{id_film}" />
		<div class="editer-groupe">

 
			[(#SAISIE{input, titre, obligatoire=oui,
				label=<:film:champ_titre_label:/>})]
 
			[(#SAISIE{input, duree,
				label=<:film:champ_duree_label:/>})]
 
			[(#SAISIE{input, annee,
				label=<:film:champ_annee_label:/>})]
 
			[(#SAISIE{input, genre,
				label=<:film:champ_genre_label:/>})]
 
			[(#SAISIE{input, pays,
				label=<:film:champ_pays_label:/>})]
 
			[(#SAISIE{radio, vovf,
				label=<:film:champ_vovf_label:/>,
				data=[(#ARRAY{vo,VO,vf,VF})], defaut=vo})]
 
			[(#SAISIE{radio, parlantmuet,
				label=<:film:champ_parlantmuet_label:/>,
				data=[(#ARRAY{parlant,Parlant,muet,Muet})], defaut=parlant})]
 
			[(#SAISIE{radio, couleurnb,
				label=<:film:champ_couleurnb_label:/>,
				data=[(#ARRAY{couleur,Couleur,nb,Noir et blanc})], defaut=couleur})]
 
			[(#SAISIE{case, jeunepublic,
				label=<:film:champ_jeunepublic_label:/>,
				datas=[(#ARRAY{oui,Oui})],
label_case=Ce film est à destination du jeune public,
valeur_oui=oui})]
 
			[(#SAISIE{input, age,
				label=<:film:champ_age_label:/>,
				explication=<:film:champ_age_explication:/> })]
 
			[(#SAISIE{input, realisation,
				label=<:film:champ_realisation_label:/>})]
 
			[(#SAISIE{input, distribution,
				label=<:film:champ_distribution_label:/>})]
 
			[(#SAISIE{textarea, resume,
				label=<:film:champ_resume_label:/>,
				inserer_barre=edition})]
 
			[(#SAISIE{textarea, critiques,
				label=<:film:champ_critiques_label:/>,
				inserer_barre=edition})]


		</div>
		[(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
		<!--extra-->
		<p class="boutons"><input type="submit" class="submit" value="<:bouton_enregistrer|attribut_html:/>" /></p>
	</div></form>
	]
</div>
