[(#SET{defaut_tri,#ARRAY{
	multi titre,1,
	date_publication,-1, 
	id_film,1
}})
]
#SET{selection,#ENV**{selection,#ENV{objet_source}|lister_objets_lies{#ENV{objet},#ENV{id_objet},#ENV{_objet_lien}}}}
#SET{debut,#ENV{debutfill,#EVAL{_request("debutfill");}}}
<B_liste_films>
[(#REM) En cas de pagination indirecte @32, il faut refaire le set car la boucle
a mis a jour la valeur avec la page reelle]
#SET{debut,#ENV{debutfill,#EVAL{_request("debutfill");}}}
#SET{afficher_lettres,#TRI|=={'multi titre'}|oui}
#ANCRE_PAGINATION
<div class="liste-objets liste-objets-lies films">
<table class="spip liste">
[<caption><strong class="caption">(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{film:info_1_film,film:info_nb_films}})</strong></caption>]
	<thead>
		#SET{p,''}
		<BOUCLE_lettre(FILMS){tout}{id_film IN #GET{selection}}{where?}
			{tri #ENV{par,multi titre},#GET{defaut_tri}}{id_film==#GET{afficher_lettres}|?{'.*','A'}}>[
		(#TITRE**|extraire_multi|initiale|unique|oui)
		[(#SET{p,#GET{p}|concat{
		#SELF|parametre_url{debutfill,@#ID_FILM}|ancre_url{paginationfill}|afficher_initiale{#TITRE**|extraire_multi|initiale{},#COMPTEUR_BOUCLE,#GET{debut},#ENV{nb,10}}
		}})]
		]#SAUTER{#ENV{nb,10}|moins{#COMPTEUR_BOUCLE|=={1}|?{2,1}}}</BOUCLE_lettre>[
		(#SET{p,
			#GET{p}|concat{
				#REM|afficher_initiale{#REM,#TOTAL_BOUCLE,#GET{debut},#ENV{nb,10}}
			}
		})]</B_lettre>
		[<tr><td colspan="4"><nav role="navigation" class="pagination">(#GET{p})</nav></td></tr>]

		<tr class="first_row">
			<th class="titre" scope="col">[(#TRI{multi titre,<:film:champ_titre_label:/>,ajax})]</th>
			<th class="action" scope="col"></th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_liste_films(FILMS){id_film IN #GET{selection}}
		{tri #ENV{par,multi titre},#GET{defaut_tri}}{pagination #ENV{nb,10} fill}>
		<tr class="[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})][ (#EXPOSE|unique)][ (#TITRE**|extraire_multi|initiale|=={#ENV{i}}|?{on}|unique)][(#ID_FILM|=={#ENV{id_lien_ajoute}}|oui)append]">
			<td class="titre">[(#LOGO_FILM|image_reduire{20,20})]<a href="[(#ID_FILM|generer_url_entite{film})]">#TITRE</a></td>

			<td class="action">
				[(#ENV{editable}|oui)
					<button type="submit" class="button link delete" name="supprimer_lien\[film-#ID_FILM-#OBJET-#ID_OBJET\]" value="X"><:film:retirer_lien_film:/> [(#CHEMIN_IMAGE{supprimer-12.png}|balise_img{'X'})]</button>
				]
			</td>
		</tr>
	</BOUCLE_liste_films>
	</tbody>
</table>
[<nav role="navigation" class="pagination">(#PAGINATION{prive})</nav>]
[(#GRAND_TOTAL|>{3}|oui)<div class="action"><button type="submit" class="button link" name="supprimer_lien\[film-*-#OBJET-#ID_OBJET\]" value="X"><:film:retirer_tous_liens_films:/> [(#CHEMIN_IMAGE{supprimer-8.png}|balise_img{'X'})]</button></div>]
</div>
</B_liste_films>
<div class="liste-objets liste-objets-lies films caption-wrap">
	<strong class="caption">[(#ENV*{titre,<:film:info_aucun_film:/>})]</strong>
</div>
<//B_liste_films>
