[(#SET{defaut_tri,#ARRAY{
	multi titre,1,
	date_publication,-1, 
	id_film,1
}})
]
#SET{exclus,#ENV**{exclus,#ENV{objet_source}|lister_objets_lies{#ENV{objet},#ENV{id_objet},#ENV{_objet_lien}}}}
#SET{debut,#ENV{debutfila,#EVAL{_request("debutfila");}}}
<B_liste_films>
[(#REM) En cas de pagination indirecte @32, il faut refaire le set car la boucle
a mis a jour la valeur avec la page reelle]
#SET{debut,#ENV{debutfila,#EVAL{_request("debutfila");}}}
#SET{afficher_lettres,#TRI|=={'multi titre'}|oui}
#ANCRE_PAGINATION
<div class="liste-objets liste-objets-associer films">
<table class="spip liste">
[<caption><span class="caption"><strong>(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{film:info_1_film,film:info_nb_films}})</strong>
<span class="recherche">
	<label for="recherche-#ENV{id}"><:info_rechercher_02:/></label>
	<input type="text" class="recherche" name="recherche" id="recherche-#ENV{id}" value="#ENV{recherche}" />
	<input type="submit" class="tout_voir" name="tout_voir" value="<:info_tout_afficher|attribut_html:/>" />
</span>
</span>
</caption>]
	<thead>
		#SET{p,''}
		<BOUCLE_lettre(FILMS){tout}{!id_film IN #GET{exclus}}{where?}{recherche?}
			{tri #ENV{par,multi titre},#GET{defaut_tri}}{id_film==#GET{afficher_lettres}|?{'.*','A'}}>[
		(#TITRE**|extraire_multi|initiale|unique|oui)
		[(#SET{p,#GET{p}|concat{
		#SELF|parametre_url{debutfila,@#ID_FILM}|ancre_url{paginationfila}|afficher_initiale{#TITRE**|extraire_multi|initiale{},#COMPTEUR_BOUCLE,#GET{debut},#ENV{nb,10}}
		}})]
		]#SAUTER{#ENV{nb,10}|moins{#COMPTEUR_BOUCLE|=={1}|?{2,1}}}</BOUCLE_lettre>[
		(#SET{p,
			#GET{p}|concat{
				#REM|afficher_initiale{#REM,#TOTAL_BOUCLE,#GET{debut},#ENV{nb,10}}
			}
		})]</B_lettre>
		[<tr><td colspan="3"><nav role="navigation" class="pagination">(#GET{p})</nav></td></tr>]
	
		<tr class="first_row">
			<th class="titre" scope="col">[(#TRI{multi titre,<:film:champ_titre_label:/>,ajax})]</th>
			<th class="action" scope="col"></th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_liste_films(FILMS){!id_film IN #GET{exclus}}{where?}{recherche?}
		{tri #ENV{par,multi titre},#GET{defaut_tri}}{pagination #ENV{nb,10} fila}>
		<tr class="[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})][ (#EXPOSE|unique)][ (#TITRE**|extraire_multi|initiale|=={#ENV{i}}|?{on}|unique)]">
			<td class="titre">[(#LOGO_FILM|image_reduire{20,20})]<a href="[(#ID_FILM|generer_url_entite{film})]">#TITRE</a></td>
			<td class="action">
				<button type="submit" class="button link add" name="ajouter_lien\[film-#ID_FILM-#OBJET-#ID_OBJET\]" value="+"><:film:ajouter_lien_film:/> [(#CHEMIN_IMAGE{ajouter-12.png}|balise_img{'+'})]</button>
			</td>
		</tr>
	</BOUCLE_liste_films>
	</tbody>
</table>
[<nav role="navigation" class="pagination">(#PAGINATION{prive})</nav>]
</div>
</B_liste_films>[(#ENV{recherche}|oui)
<div class="liste-objets liste-objets-associer films caption-wrap">
<span class="caption"><strong>[(#VAL{info_recherche_auteur_zero}|_T{#ARRAY{cherche_auteur,#ENV{recherche}}})]</strong>
<span class="recherche">
	<label for="recherche-#ENV{id}"><:info_rechercher_02:/></label>
	<input type="text" class="recherche" name="recherche" id="recherche-#ENV{id}" value="#ENV{recherche}" />
	<input type="submit" class="tout_voir" name="tout_voir" value="<:info_tout_afficher|attribut_html:/>" />
</span>
</span>
</div>
]<//B_liste_films>
