[(#AUTORISER{voir,film,#ID_FILM}|sinon_interdire_acces)]
[(#SET{url_voir,#VAL{film}|objet_info{url_voir}})]
[(#SET{url_edit,#VAL{film}|objet_info{url_edit}})]
<BOUCLE_film(FILMS){id_film}{statut==.*}{si #ENV{exec}|=={#GET{url_voir}}}>
[(#BOITE_OUVRIR{[
	[(#AUTORISER{modifier,film,#ID_FILM})
		[(#ID_FILM|afficher_qui_edite{film}|non)
			[(#URL_ECRIRE{#GET{url_edit},id_film=#ID_FILM}|icone_verticale{<:film:icone_modifier_film:/>,film,edit,right ajax preload})]
		]
		[(#ID_FILM|afficher_qui_edite{film}|oui)
			[(#URL_ECRIRE{#GET{url_edit},id_film=#ID_FILM}|icone_verticale{#ID_FILM|afficher_qui_edite{film},warning-24,'',right edition_deja ajax preload})]
		]
	]

	<h1>[(#RANG). ](#TITRE|sinon{<:info_sans_titre:/>})[(#CHEMIN_IMAGE{film-24.png}|balise_img{film,cadre-icone})]</h1>

],simple fiche_objet})]

<div class="ajax">
	#FORMULAIRE_DATER{film,#ID_FILM}
</div>

<!--affiche_milieu-->

<div id="wysiwyg">
<INCLURE{fond=prive/objets/contenu/film,id=#ID_FILM,id_film=#ID_FILM,virtuel=oui,ajax=wysiwyg,wysiwyg=1}>
</div>

<div class="nettoyeur"></div>

[(#AUTORISER{modifier,film,#ID_FILM})
	[(#ID_FILM|afficher_qui_edite{film}|non)
		[(#URL_ECRIRE{#GET{url_edit},id_film=#ID_FILM}|icone_verticale{<:film:icone_modifier_film:/>,film,edit,right ajax preload})]
	]
	[(#ID_FILM|afficher_qui_edite{film}|oui)
		[(#URL_ECRIRE{#GET{url_edit},id_film=#ID_FILM}|icone_verticale{#ID_FILM|afficher_qui_edite{film},warning-24,'',right edition_deja ajax preload})]
	]
]

<div class="nettoyeur"></div>
<div class="liste">
	<BOUCLE_objetslies(spip_films_liens){id_film}{0,1}><h3><:film:titre_objets_lies_film:/></h3></BOUCLE_objetslies>

	<BOUCLE_listeobjets(spip_films_liens){id_film}{fusion objet}{par objet}>
		#SET{table,#OBJET|table_objet}
		[(#SET{titre,[#OBJET:info_(#GET{table})_liees_film]})]
		[(#SET{liste,#VAL{prive/objets/liste/#GET{table}}|trouver_fond|?{#GET{table},objets_lies_film}})]
		<INCLURE{fond=prive/objets/liste/#GET{liste},objet,id_film,ajax,env} />
	</BOUCLE_listeobjets>
</div>

#PIPELINE{afficher_complement_objet,#ARRAY{args,#ARRAY{type,film,id,#ID_FILM},data,'<div class="nettoyeur"></div>'}}

#BOITE_FERMER


#SET{enfants,''}
[(#VAL{prive/objets/contenu/film-enfants}|trouver_fond|oui)
	[(#SET{enfants,[(#INCLURE{fond=prive/objets/contenu/film-enfants,id_film,env})]})]
]
[(#PIPELINE{affiche_enfants,[(#ARRAY{args,#ARRAY{exec,film,id_film,#ID_FILM,objet,film,id_objet,#ID_FILM},data,#GET{enfants}})]})]

[(#CONST{_AJAX}|oui)
	<script type="text/javascript">/*<!\\[CDATA\\[*/reloadExecPage('#ENV{exec}','#navigation,#chemin,#extra');/*\\]\\]>*/</script>
]
</BOUCLE_film>
[(#ENV**{exec}|=={#GET{url_edit}}|?{#INCLURE{fond=prive/squelettes/contenu/#GET{url_edit},redirect='',env,retourajax=oui},#REM|sinon_interdire_acces})]
<//B_film>
