[(#AUTORISER{voir,_films}|sinon_interdire_acces)]
<h1 class="grostitre"><:film:titre_page_films:/></h1>

#FORMULAIRE_RECHERCHE_ECRIRE{#SELF,ajax}
<div class="nettoyeur"></div>

<INCLURE{fond=prive/objets/liste/films, env, ajax, sinon=<:film:info_aucun_film:/>}>

[(#AUTORISER{creer,film})
	[(#URL_ECRIRE{film_edit,new=oui}|icone_verticale{<:film:icone_creer_film:/>,film,new,right})]
]
