[(#ID_FILM|oui)
	[(#AUTORISER{modifier,film,#ID_FILM}|sinon_interdire_acces)]
]

[(#ID_FILM|non)
	[(#AUTORISER{creer,film}|sinon_interdire_acces)]
]
 
#SET{redirect,#ENV{redirect}|sinon{#ID_FILM|?{#ID_FILM|generer_url_entite{film},#URL_ECRIRE{films}}}}



<div class="cadre-formulaire-editer">
<div class="entete-formulaire">
	[(#ID_FILM|oui)
	[(#GET{redirect}|icone_verticale{<:icone_retour:/>,film,'',left retour[(#ENV{retourajax,''}|oui)ajax preload]})]
	]
	[
		[(#ID_FILM|?{<:film:icone_modifier_film:/>,<:film:icone_creer_film:/>})]
		<h1>(#ENV*{titre,#INFO_TITRE{film,#ID_FILM}|sinon{<:info_sans_titre:/>}})</h1>
	]
</div>

#SET{redirect,#ENV{redirect,#ID_FILM|generer_url_entite{film}}}
[(#ENV{retourajax,''}|oui)
	#SET{redirect,'javascript:if (window.jQuery) jQuery(".entete-formulaire .retour a").followLink();'}
	<div class="ajax">
]
		[(#FORMULAIRE_EDITER_FILM{#ENV{id_film,oui}, #GET{redirect}, #ENV{associer_objet}})]
[(#ENV{retourajax,''}|oui)
	</div>
	<script type="text/javascript">/*<!\[CDATA\[*/reloadExecPage('#ENV{exec}');/*\]\]>*/</script>
]
</div>
